.login
  .main-content
    width: 100vw
    height 379rpx
    top: 35%
    transform: translateY(-50%)
    text-align: center
    position absolute
    .portrait-wrapper
      width: 188rpx
      height 188rpx
      border-radius: 100%
      overflow hidden
      display block
      text-align: center
      position relative
      left 50%
      transform translateX(-50%)
      margin-bottom 60rpx
      .portrait
        display inline-block
        width: 188rpx
        height 188rpx
        border-radius: 100%
    .nick-name
      font-size 48rpx
      font-weight bolder
      color #232442
      line-height: 67rpx
      margin-bottom 24rpx
    .desc
      font-size 28rpx
      color: #7E80A3
      
