.mine
  padding: 0 48rpx
  height: calc(100vh - 148rpx)
  .header
    display: flex
    flex-direction: row
    align-items: center
    .avatar
      width: 100rpx
      height: 100rpx
      border-radius: 50%
      margin-right 34rpx
    .header-info
      display: flex
      flex-direction: column
      .name
        font-size: 40rpx
        line-height 56rpx
        color: #232442
        font-weight: 500
      .phone
        font-size: 24rpx
        line-height 33rpx
        color: #7E80A3
        font-weight: 500
  .list
    padding-top: 90rpx
    .list-item
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      height: 98rpx
      margin-top: 10rpx
      .left
        display: flex
        flex-direction: row
        align-items: center
        .icon-wrapper
          width: 30rpx
          height: 30rpx
          display: flex
          align-items: center
          justify-content: center
          .order-icon
            width: 22rpx
            height: 33rpx
          .account-icon
            width: 22rpx
            height: 39rpx
          .question-icon
            width: 30rpx
            height: 30rpx
          .must-icon
            width: 25rpx
            height: 28rpx
          .contact-icon
            width: 24rpx
            height: 26rpx
        .text
          font-size: 30rpx
          line-height: 42rpx
          color: #232442
          margin-left: 35rpx
        .red-round
          width: 10rpx
          height: 10rpx
          border-radius: 50%
          background-color: #F74C31
          margin-left: 20rpx
      .arrow
        width: 14rpx
        height: 25rpx
button
  padding: 0
  margin: 0
  border: none
  background-color: transparent
button::after
  border: none;
.button-hover
  background-color: transparent
