.bill
	width: 100%
	padding-bottom: 148rpx
	padding-bottom: calc(148rpx + constant(safe-area-inset-bottom)) /* 兼容 iOS < 11.2 */
	padding-bottom: calc(148rpx + env(safe-area-inset-bottom)) /* 兼容 iOS >= 11.2 */

	&-top
		position relative
		box-sizing: border-box
		width: 100%
		padding-bottom: 46rpx
		color: #fff

		&_bg
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			z-index: -1

		&_title
			font-size: 36rpx
			line-height: 50rpx
			margin-top: 41rpx
			margin-left: 48rpx

		&_sum
			font-size: 88rpx
			height: 123rpx
			margin-top: 16rpx
			display: flex
			align-items: center
			margin-left: 48rpx

		&_settle-row
			height: 46rpx
			margin-top: 4rpx
			display: flex
			justify-content: space-between
			padding-right: 48rpx
			padding-left: 48rpx

			&_item
				height: 100%
				display: flex
				flex-shrink: 0
				align-items: flex-end

				&-label
					font-size: 28rpx
					color: rgba(255, 255, 255, 0.5)
					margin-right: 24rpx

				&-number
					font-size: 48rpx
					line-height: 1

	&-bottom

		&_btn
			display: flex
			justify-content: center
			align-items: center

			.edit-icon
				width: 29.85rpx
				height: 29.85rpx
				margin-right: 15rpx

	&-content
		display: flex
		flex-direction: column
		align-items: center

		&_empty
			width: 168rpx
			height: 130rpx
			margin-top: 174rpx

	&-list
		padding: 49rpx 48rpx
		width: 100%
		box-sizing: border-box

		&_item
			display: flex
			align-items: center
			margin-bottom: 49rpx

			&-left
				flex-shrink: 0
				position relative
				width: 81rpx
				height: 110rpx
				border-radius: 0 16rpx 16rpx 0
				overflow: hidden
				margin-right: 30rpx
				background-color: #ccc

			&-image
				width: 100%
				height: 100%

			&-image-text
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				color: #fff

			&-right
				flex-grow: 1

			&-title-row
				display: flex
				align-items: center
				justify-content: space-between
				height: 50rpx

			&-title
				color: #232442
				font-size: 36rpx
				font-weight: bold

			&-number
				font-size: 48rpx

				&.yellow
					color: #F89D4A

				&.green
					color: #63C8A4

			&-desc-row
				margin-top: 8rpx
				height 40rpx
				display: flex
				align-items: center
				justify-content: space-between

			&-desc
				color: #4C4D74
				font-size: 28rpx

			&-number-tip
				color: #A9ABBE
				font-size: 28rpx
