.custom-title-bar
  display: flex
  align-items: center
  width: 100%

  &.place
    position: relative

  &.operate
    position: absolute
    z-index: 1

  &.fixed
    position: fixed
    left: 0
    z-index: 500

.setting
  width: 32rpx
  height: 32rpx
  margin-left: 48rpx

.back
  width: 48rpx
  height: 48rpx
  margin-left: 24rpx
