.product-info
  .section:first-child
    margin-bottom 8rpx
  .section
    padding: 32rpx 48rpx 48rpx
    background-color: #EFEFF6
    .title-header
      display: flex
      flex-direction: row
      align-items: center
      .line
        width: 8rpx
        height: 40rpx
        background-color: #3432C1
        margin-right 16rpx
      .title
        font-size: 30rpx
        line-height 42rpx
        color: #232442
        font-weight: 600
    .cell
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-top 48rpx
      .title
        font-size: 28rpx
        line-height 44rpx
        color: #2D2F76
        font-weight 600
      .content
        font-size: 28rpx
        line-height 44rpx
        color: #2D2F76
        text-align: right
      .maxWidth
        width: 490rpx
      .price
        font-size: 40rpx
        line-height 47rpx
        color: #F89D4A
        font-weight: bold
    .attachment
      margin-top 24rpx
      .title
        font-size: 28rpx
        line-height 44rpx
        color: #2D2F76
        font-weight 600
      .list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin-top 43rpx
        .item
          margin-right: 32rpx
          width: 180rpx
          display: flex
          flex-direction: column
          align-items: center
          image
            background-color: #ffffff
            width: 100%
            height: 180rpx
          .desc
            font-size: 24rpx
            line-height 33rpx
            color: #232442
            margin-top 24rpx
