.base-input
    &.active
        .input
            border-color #3432C1
    .input
        border-bottom 2rpx solid #D1D2DC
        padding-bottom 13rpx
        font-size 28rpx
        color #333333
    .input-placeholder
        color #D1D2DC
    .max-length
        margin-top 24rpx
        font-size 28rpx
        color #D1D2DC