.complete
  .main-content
    width: 100vw
    height 379rpx
    top: 35%
    transform: translateY(-50%)
    text-align: center
    position absolute
    .title
      color: #212121
      font-size 54rpx
      font-weight bolder
      margin-bottom 24rpx
    .desc
      color: #4C4D74
      font-size 28rpx
      margin-bottom 240rpx
      font-weight bolder
    .picture
      height 149rpx
      background: center / 200rpx 149rpx no-repeat url('https://hzliangke.oss-cn-hangzhou.aliyuncs.com/lk-shop-miniprogram/progress/success%402x.png')