.setting
  padding 0 40rpx
  background-color #fff
  .form-item
    height 98rpx
    display flex
    align-items center
    justify-content space-between
    margin-top 32rpx
    .label
      font-size 32rpx
      color #333
