.setting
  padding 0 40rpx
  background-color #fff
  .form-item
    height 98rpx
    display flex
    align-items center
    justify-content space-between
    margin-top 32rpx
    .arrow
      width: 14rpx
      height 24rpx
      background:center / 14rpx 24rpx no-repeat url('https://hzliangke.oss-cn-hangzhou.aliyuncs.com/miniapp/local/setting/arrow%402x.png')
    .label
      font-size 32rpx
      color #333
