/* src/pages/bill/export/list/list.wxss */
.container
  padding 64rpx 48rpx
  position relative
  padding-bottom calc(148rpx + constant(safe-area-inset-bottom)) /* 兼容 iOS < 11.2 */
  padding-bottom calc(148rpx + env(safe-area-inset-bottom)) /* 兼容 iOS >= 11.2 */
.logo
  width 182rpx
  height 190rpx
  position absolute
  top 52rpx
  right 0
  background center / 182rpx 190rpx no-repeat url('https://hzliangke.oss-cn-hangzhou.aliyuncs.com/miniapp/local/logo/logo.png')
.container .top
  margin-bottom 64rpx
.container .top .name-wrapper
  font-size 36rpx
  color #232442
  margin-bottom 16rpx
.container .top .total-money
  font-size 88rpx
  color #3432C1
  font-weight bolder
.container .list .item
  display flex
  align-items center
  margin-bottom 48rpx
.container .list .item .img-wrapper
  width 104rpx
  height 104rpx
  margin-right 24rpx
  position relative
.container .list .item .img-wrapper .img
  width 98rpx
  height 98rpx
  display block
  margin-top 6rpx
  position relative
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* bottom: 0; */
  /* left: 0; */
  z-index 10
.container .list .item .img-wrapper .bg-card
  width 98rpx
  height 98rpx
  top 0
  right 0
  position absolute
  background-color #A9ABBE
.container .list .item .content
  flex 1
.container .list .item .content .first
  display flex
  justify-content space-between
  align-items center
  margin-bottom 4rpx
.container .list .item .content .first .title
  color #232442
  font-size 36rpx
  width calc(100vw - 392rpx)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.container .list .item .content .first .money
  color #F89D4A
  font-size 48rpx
  width 168rpx
  height 58rpx
  line-height 58rpx
  text-align right
.container .list .item .content .second
  display flex
  justify-content space-between
  align-items center
.container .list .item .content .second .date
  color #4C4D74
  font-size 28rpx
.container .list .item .content .second .detail
  color #4C4D74
  font-size 32rpx
  width calc(100vw - 340rpx)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  text-align right
.container .slogan
  color #A9ABBE
  font-size 28rpx
  position absolute
  left 50%
  bottom 40rpx
  transform translateX(-50%)
  font-weight bolder
.loading-mask
  position fixed
  width 100vw
  height 100vh
  background-color rgba(0, 0, 0, 0.3)
  z-index 100
.loading-mask span
  top 50%
  left 50%
  position absolute
  transform translate(-50%, -50%)
  font-size 28rpx
  color #fff
.bottom-btn-group
  display flex
  position fixed
  bottom 0
  left 0
  width 100%
  padding-bottom constant(safe-area-inset-bottom) /* 兼容 iOS < 11.2 */
  padding-bottom env(safe-area-inset-bottom) /* 兼容 iOS >= 11.2 */