.bottom-btn
    height 148rpx
    text-align center
    line-height 148rpx
    background-color #3432C1
    color #fff
    position fixed
    bottom 0
    width 100%
    font-weight bolder
    transition all 0.2s
    flex 1
    &-hover
        background-color rgba(52, 50, 193, 1) rgba(0, 0, 0, 0.1) !important

// .number
//     font-family: DINCondensed-Bold,DINCondensed